@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --main-font: 'Roboto Condensed', sans-serif;
  --accent-font: 'Roboto Mono', monospace;
  --text-color: #545454;
  --accent-color: #7DE0FF;
  --gray-color: #F5F5F5;
  --white-color: #FFFFFF;

}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  background-color: var(--gray-color);
}

.container-app{
  width: 360px;
  height:640px;
  background-color: var(--white-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

 .row-dictionary, .row-footer {
  padding: 10px;
  margin: 0 20px;
}

.row-toggle{
text-align: right;
justify-content: space-between;
  margin: 20px 20px 0 20px;
  display: block;
}


.toggle-icon, .bookmark-icon{
  font-size: 28px;
  color: var(--accent-color);
  padding: 0 0 0 10px;
  width: max-content;
  text-align: right;
  
}

.bookmark-icon:hover, .toggle-icon:hover {
  color: var(--text-color);
}

.row-dictionary {
  text-align: center;
}

.row-footer{
  margin-bottom: 10px;
}

.row-footer p {
  font-family: var(--main-font);
  font-size: 10px;
  margin: 0;
  line-height: 100%;
}

.row-footer a {
  color: var(--text-color);
}

.row-footer a:hover{
  color: var(--accent-color);
  text-decoration: none;
}

